
h1{
    text-align: center;
}
*{
    background-color: darkslategrey;
    color: dodgerblue;
}
table, th, td {
    border: 1px solid black;
  }
  td{
      /* padding-left: 10px; */
      text-align: center;
  }